.details-page{
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* align-items: center; */
    background: #180047;
    /* width: 100%; */
    /* border: solid yellow 2px; */
    height: 100%;
}

footer{
    background: #180047;
    border: 0;
    margin: 0;
    padding: 0;
    height: 10em;
}

.info {
    background: linear-gradient(rgba(24,0,71,0), rgba(24,0,71,1));
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    position: absolute;
    /* border: 2px blue solid; */
}

.movie-title{
    font-size: 1.3em;
    width: 100%;
}

.backdrop-image{
    /* width: 100%; */
    position: relative;
    /* z-index: -1 */
    height: 100%;
    /* margin-bottom: 30px; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
}

.cover-image{
        height: 60%;
        /* margin-bottom: 5px; */
        border-radius: 15px;
}

.date-and-runtime{
    display: flex;
    justify-content: space-between;
}

.movie-overview-section{
    width: 40%;
}