.details-page{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.info {
    background: rgba(24,0,71,0.7);
    width: 100%;
    padding: 15px;
    display: flex; 
    justify-content: space-around;
    position: absolute;
}

p{
    color: #E65CA2
}

h2{
    color: #FEB47D
}

.backdrop-image{
    width: 100%;
    position: relative;
}

.cover-image{
        width: 210px;
        height: auto;
        /* margin-bottom: 5px; */
        border-radius: 15px;
}

.date-and-runtime{
    display: flex;
    justify-content: space-between;
}

.movie-overview-section{
    width: 40%;
    border: solid blue 2px;
}