.details-page{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: rgba(24,0,71,1);
}

.info {
    background: linear-gradient(rgba(24,0,71,0), rgba(24,0,71,1));
    width: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
    display: flex; 
    justify-content: space-around;
    position: absolute;
}

.movie-title{
    font-size: 50px;
    width: 100%;
}

.backdrop-image{
    width: 100%;
    position: relative;
    margin-bottom: 30px
}

.cover-image{
        width: 210px;
        /* height: auto; */
        /* margin-bottom: 5px; */
        border-radius: 15px;
}

.date-and-runtime{
    display: flex;
    justify-content: space-between;
}

.movie-overview-section{
    width: 40%;
}

@media screen and (max-width: 900px) {
    
}