
.movie-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1rem;
  margin: 1.25rem 0.625rem;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.625rem;
  text-align: center;
  /* border: 2px solid #180047; */
}

.movie-poster {
  width: 9.375rem;
  height: auto;
  margin-bottom: 0.3125rem;
  border-radius: 0.9375rem;
}

.all-movie-titles {
  font-size: 1.275rem;
  font-weight: bold;
  width: 7.5rem;
  text-align: center;
}

.all-movies-release-date {
  font-size: 0.875rem;
}

/* Media queries for responsiveness */

@media (max-width: 665px) {
  .movie-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
    margin: 0.3125rem .125rem;
    grid-gap: .5rem;
  }

  .movie-card {
    height: auto;
  }

  .movie-poster {
    width: 7rem;
    height: auto;
  }

  .all-movie-titles {
    font-size: .75rem;
    width: 5.625rem;
  }
}

@media (max-width: 480px) {
  .movie-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    margin: 0.15625rem .075rem;
    grid-gap: .25rem;
  }

  .movie-poster {
    width: 4.6875rem;
  }

  .all-movie-titles {
    font-size: 0.6rem;
    width: 4rem;
    margin-left: auto;
    margin-right: auto;
  }

  .all-movies-release-date{
    font-size: 0.75rem;
  }
}
